# Entornos virtuales
env/
venv/
*.pyc
__pycache__/

# Archivos de datos y modelos
data/raw/
data/processed/
data/models/
data/images/pokemon-images
data/csv

# Archivos temporales y de entorno
.DS_Store
.idea/
